image: docker:git
services:
  - docker:dind
  - redis:latest

variables:
  ORIENTDB_ROOT_PASSWORD: testpassword
  ORIENTDB_PASSWORD: testpassword
  PRE_SHARED_KEY: testpsk
  ORIENTDB_DB: testdb
  ORIENTDB_USERNAME: root
  ORIENTDB_HOST: orientdb

cache:
  paths:
  - node_modules/

# test:
#   tags:
#     - local
#   stage: test
#   services:
#     - redis:latest
#   script:
#     - docker pull $CONTAINER_TEST_IMAGE
#     - docker run $CONTAINER_TEST_IMAGE npm test

stages:
- build
# - test
- release

variables:
  CONTAINER_TEST_IMAGE: $CI_REGISTRY_IMAGE:$CI_BUILD_REF_NAME
  CONTAINER_RELEASE_IMAGE: $CI_REGISTRY_IMAGE:latest
  CONTAINER_DOCKERHUB_RELEASE: connectedacademy/gossipmill:latest

before_script:
  - docker login -u gitlab-ci-token -p "$CI_BUILD_TOKEN" $CI_REGISTRY


build:
  stage: build
  tags:
    - docker
  script:
    - docker build -t $CONTAINER_TEST_IMAGE .
    - docker push $CONTAINER_TEST_IMAGE
  only:
    - master

dockerhub:
  stage: release
  tags:
    - docker
  script:
    - docker pull $CONTAINER_TEST_IMAGE
    - docker login -u $DOCKER_USERNAME -p "$DOCKER_PASSWORD"
    - docker tag $CONTAINER_TEST_IMAGE $CONTAINER_DOCKERHUB_RELEASE
    - docker push $CONTAINER_DOCKERHUB_RELEASE
  only:
    - master